* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

/* .content {
  display: grid;
  grid-template-areas:
    ". . . . ."
    ". hero . form ."
    ". . . . .";
  gap: 8.5rem;
} */

aside {
  grid-area: hero;
}

main {
  grid-area: form;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18rem;
  margin-top: 8.5rem;
  margin-bottom: 9.5rem;
}

aside h1 {
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 75px;
  margin-top: 5.5rem;
}

h1 span,
h2 span {
  color: #ff5678;
}

main {
  width: 60rem;
  height: 52rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 4.4rem 5.5rem;
}

main h2 {
  font-size: 3.6rem;
  font-weight: 500;
  max-width: 43rem;
  margin-bottom: 5.4rem;
}

main .actions {
  display: flex;
  flex-flow: column wrap;
}

.actions a {
  background-color: #35e6e9;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  height: 5.5rem;
  text-decoration: none;
  opacity: 0.9;
  transation: 0.3s;
}

.actions a:hover {
  opacity: 1;
}

.actions a + a {
  background-color: #ff5678;
  margin-top: 4.8rem;
}

main footer p {
  font-size: 1.4rem;
  margin-top: 8rem;
  text-align: center;
}

main footer a {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  display: block;
  text-align: center;
}

/* cadastro.html */
.header-nova-entidade {
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
}

.header-nova-entidade h2 {
  margin-bottom: 1.6rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

label {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.1rem;
  margin-bottom: 1rem;
}

input {
  height: 5.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1.2rem;
  margin-bottom: 1.5rem;
}

button {
  background: #35e6e9;
  border-radius: 1.2rem;
  border: none;
  height: 5.5rem;
  font-size: 3.6rem;
  color: #fff;
  margin-top: 1rem;
}
